matrix:
  include:
    # works on Precise and Trusty
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.9
      env:
         - MATRIX_EVAL="CC=gcc-4.9 && CXX=g++-4.9"
         
script:
    - gcc -std=gnu99 -w -o test ./test.c
    - ./test
    
language:
    - c

before_install:
    - eval "${MATRIX_EVAL}"
